<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WonderApp</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/flat-ui.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

    <link href="/css/leaflet.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <div class="box" id="location">
            <p>Searching for location...</p>
          </div>

          <div id="map"></div>
        </div>
      </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/leaflet.js"></script>
    <script src="js/function.js"></script>
  </body>
</html>