@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
* {
  font-weight: 300 !important;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #2c3e50;
  color: #ecf0f1;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  margin: 0;
  font-size: 15px;
}

.box {
  padding: 1rem 1.5rem;
  background: #FFF;
  color: #2c3e50;
  border-radius:3px;
  margin-top: 10px;
  box-shadow: 0 1px 2px #aaa;
}

.card {
  background: #FFF;
  color: #2c3e50;
  border-radius:3px;
  margin-top: 10px;
  box-shadow: 0 1px 2px #aaa;
  position: relative; 
  padding: 0;
}
.card .type, .card .map_link {
  position: absolute; 
  right: 0; 
  bottom: 0;
  font-size: 12px;
  padding: 5px 10px;
  color: #7f8c8d;
}
.card .map_link {
  position: absolute; 
  left: 0; 
  bottom: 0;
  font-size: 12px;
  padding: 5px 10px;
  color: #7f8c8d;
}
.card h2 {
  padding: 15px 10px 10px 15px;
  font-size: 20px;
  margin: 0;
}
.card ul {
  border-top: 1px solid #bdc3c7;
  border-bottom: 1px solid #bdc3c7;
  background: #ecf0f1;
  margin: 5px 0;
  list-style-type: none;
  margin-bottom: 30px;
  padding: 0;
}
.card ul li {
  font-size: 14px;
  padding: 4px 15px;
  border-bottom: 1px solid #bdc3c7;
}
  .card ul li:last-child {
    border: none;
  }

#map { 
  margin-top: 10px;
  height: 170px; 
  border-radius:3px;
  border: 5px none #FFF;
}
#map_btn_wrapper {
  margin-top: 150px;
  margin-left: -5px;
}
#map_btn {
  display: none;
  cursor: pointer;
}

#fs_map {
  height: 170px;
  border-radius:3px;
  border: 5px solid #FFF;
  border-top: none;
  margin: 0 5px;
}

.leaflet-control-attribution a {
  display: none;
}


.severity-sever {
  background-color: red;
  height: 10px;
  width: 10px;
}

.severity-normal {
  background-color: green;
  width: 10px;
  height: 10px;
}